{% extends "article/base.html" %}


{% block section %}
<h1>La table des Articles</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Article</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.name }}</td>
            <td>{{ article.price }} GNF</td>
            <td>
                <a href="#">Voir</a>
                <a href="#">Modifier</a>
                <a href="#">Supprimer</a>
            </td>
        </tr>
        {% empty %}
        <h3> No item in database </h3>
        {% endfor %}
    </tbody>
</table>
{% endblock %}