{% extends "article/base.html" %}


{% block section %}
<h1>La table des Articles</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Article</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">Voir</a>
                <a href="#">Modifier</a>
                <a href="#">Supprimer</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}